/*colori per i testi, con variabili*/
:root {
    --normal: #333;
    --muted: #888;
}

*, *:before, *:after { box-sizing: border-box; }

@supports (font-size-adjust: 1) {
    article { font-size-adjust: 0.5; }
}

*, html, body {
    text-rendering: optimizeSpeed;
    image-rendering: optimizeSpeed;
    font-family: 'Source Sans Pro', sans-serif;
}

.footer {
    margin: auto;
    max-width: auto;
    min-height: auto;
    width: 100%;
}

nav {
    height: auto;
    overflow: hidden;
}

.container { margin: 0 auto !important; }

#Box {
    font: 600;
    font-size: 28px;
    padding-top: 120px !important;
    padding-bottom: 75px;
    text-align: center;
}

#Box:hover {
    font-size: 30px;
    color: red;
    transition: 0.45s;
    font: 900;
}

.layer { image-rendering: optimizeQuality; }

@media screen and (max-width:763.33px) {
    iframe { width: 90%; }
}

.layer iframe { margin: 2rem; }

nav>ul>li { padding-left: -4%; }
