@import url('https://fonts.googleapis.com/css2?family=Palanquin&display=swap');
@import url(https://use.fontawesome.com/releases/v5.0.6/css/all.css);   /*icons*/
 
*,
*:before,
*:after {
    box-sizing: border-box;
}
 
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
 
body {
    background-color: #fdfafa; 
    color: #333;
    font: 18px/1.5 'Palanquin', sans-serif;
}
 
h1 {
    font-family: 'Palanquin', sans-serif;
    text-align: center;
}


/*dark mode & white mode*/
.dark-mode {
    background-color: black;
    color: white;
}
.light-mode {
    background-color: white;
    color: black;
}
.darkMode {
    position:relative;
    float: right;
    padding-top: 0.25%;
    min-width: 70px;
    min-height: 30px;
    margin-left: 3.5%;
}
.DarkBtn {
    background-color: #fdfafa;
    color: #fdfafa;
    border-color: #777777; 
    border-radius: 6px;
    height: 30px;
    width: 70px;
    padding-right: 5px;
}
.DarkBtn:hover {
    background-color: #999999;
    cursor:pointer;
}
.LightBtn {
    background-color: #fdfafa;
    border-color: #777777;
    border-radius: 6px;
    height: 30px;
    width: 70px;
    padding-right: 5px;
}
.LightBtn:hover {
    background-color: #999999;
    cursor:pointer;
}
/********************/

.container {
    margin: 0 auto;
    max-width: 80em;
}
 
main .container {
    padding: 1em;
}
 
.screen-reader-text {
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    width: 1px;
}
 
nav { 
    background: #f5f1ed; 
    color: #1d1f20;
    left: 0;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 9999;
}
 
/*** INPUT ***/
nav input {
    opacity: 0;
    position: absolute;
    z-index: -1;
}
 
/*** LABEL ***/
nav label {
    cursor: pointer;
    display: block;
    font: 2em/1 'Palanquin', sans-serif;
    padding: 0.38em;
    padding-left: 0;
}

@media screen and (max-width: 800px) {   /*******/
    nav label {
        -ms-flex: 55.3%;
        flex: 55.3%;
        max-width: 55.3%;
    }
}
 
/* Hamburger Icon */
#menu-icon,
#menu-icon:before,
#menu-icon:after {
    background: #1d1f20;
    border-radius: 0.08em;
    height: 0.195em;
    transition: all 75ms ease-in-out;
    width: 100%;
}
 
#menu-icon {
    display: inline-block;
    margin: 0.4em 0;
    max-width: 1em;
    position: relative;
}
 
nav label #menu-icon {
    float: right;
}
 
#menu-icon:before,
#menu-icon:after {
    content: '';
    left: 0;
    position: absolute;
}
 
#menu-icon:before {
    top: -0.4em;
}
 
#menu-icon:after {
    bottom: -0.4em;
}
 
/* Close Icon */
nav input[type=checkbox]:checked + label #menu-icon {
    background: transparent;
}
 
nav input[type=checkbox]:checked + label #menu-icon:before {
    top: 0;
    transform: rotate(-45deg);
}
 
nav input[type=checkbox]:checked + label #menu-icon:after {
    bottom: 0;
    transform: rotate(45deg);
}
 
 
/*** MENU ***/
/* Overlay */
nav input:checked ~ #overlay {
    background: #f5f1ed;
    bottom: 0;
    left: 0;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 2;
    width: 100vw;
    z-index: -1;
}
 
/* List */
nav ul {
    margin-top: 6%;
    font-size: 26px;
    list-style: none;
    margin: 0;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    padding: 1;
    text-align: center;
}
 
nav input:checked ~ ul {
    margin: 1em;
    max-height: inherit;
    opacity: 1;
}
 
nav ul > li {
    margin: 0.5em 0;
}
 
nav ul a {
    color: #1d1f20!important;
    text-decoration: none;
}
 
nav ul a:hover {
    text-decoration: underline;
}
 
/* Social Media */
nav ul#social-media > li {
    display: inline-block;
    font-size: 1.5em;
    margin: 0.5em;
}

.footer {
    display: block;
    position: absolute;
    display: block;
    align-items: center;
    height: 4rem;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: transparent;
    margin-top: 2%;
    min-height: auto;
}