@import url('https://fonts.googleapis.com/css2?family=Palanquin&display=swap');
@import url('https://use.fontawesome.com/releases/v5.0.6/css/all.css');
/*icons*/

/*colori per i testi, con variabili*/
/*palette con nero, bianco, grigio, blue e giallo. 5+1*/
:root {
    --txt-normal: #000000;
    --txt-muted: #E5E5E5;
    --txt-title: #14213D;
    --txt-hover: #FCA311;
    --bg-dark: #1d1f20;
    --bg-white: #FFFFFF;
    /*aggiunta*/
    --txt-semiGray: rgb(119, 118, 118);
    --bg-lightGray: #e5e5e5;
    /*section colors*/
    --bg-red: #FAD2E1;
    --bg-blue: #CDDAFD;
    --bg-trasp: #FFF1E6;
    --bg-greenlight: #BEE1E6;
    --bg-violet: #EAE4E9;
    --bg-lightRed: #FDE2E4;
    --bg-Event: #fbf8cc;
}

/*** cursor custom ***/
.custom-cursor {
    width: 2.25rem;
    height: 2.25rem;
    border: 1.25px solid var(--bg-dark);
    border-radius: 100%;
    background: rgb(255, 255, 255, 0.375);
    /* background: hsla(0, 0%, 80%, .2); */
    position: absolute;
    box-shadow: 0px 0px 50px 6px rgba(255, 255, 100, 0.25);
    -webkit-box-shadow: 0px 0px 50px 6px rgba(238,237,67,0.25);
    -moz-box-shadow: 0px 0px 50px 6px rgba(238,237,67,0.25);
    z-index: 99999 !important;
    transform: translate(-50%, -50%);
    pointer-events: none !important;
    transition: none !important;
    text-rendering: optimizeSpeed !important;
}
/** end cursor **/

*, *:before, *:after {
    box-sizing: border-box !important;
    padding: 0;
}

html {
    height: 100%;
    scroll-behavior: smooth;
    font-family: 'Source Sans Pro', sans-serif !important;
}

html *, body *, * {
    cursor: none !important;
    -webkit-touch-callout: none !important;
    -webkit-user-drag: none !important;
    -webkit-user-select: none !important;
    user-select: none !important;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 100%;
    width: 100%;
    font: 400;
    font-family: 'Source Sans Pro', sans-serif !important;
    background-color: var(--bg-white);
    color: var(--txt-title);
    text-rendering: optimizeSpeed !important;
    scrollbar-width: thin;
    scrollbar-color: var(--txt-title) var(--txt-hover);
}

h1, h2, h3, h4, h5, title {
    color: var(--txt-title);
    font-family: inherit;
}

h1 {
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
}

img, picture {
    display: block;
}

/**scroll bar**/
body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: var(--txt-hover);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--txt-title);
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 3px solid var(--txt-hover);
}

/*Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--txt-title) var(--txt-hover);
}

/*Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
    -webkit-overflow-scrolling: auto;
}

*::-webkit-scrollbar-track {
    background: var(--txt-hover);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--txt-title);
    border-radius: 20px;
    border: 3px solid var(--txt-hover);
}
/****/


/*********navbar new***********/
nav.navbar {
    margin-bottom: 2rem;
    background-color: #373636;
    min-height: 4rem !important;
    z-index: 99999 !important;
}

.nav {
    min-height: 65px;
    width: 100%;
    background-color: #4d4d4d;
    position: fixed;
    z-index: 9999;
}

.nav>* {
    z-index: 99999 !important;
}

.nav>.nav-header {
    display: inline;
}

.nav>.nav-header>.nav-title {
    display: inline-block;
    padding: 10px 10px 10px 10px;
}

.nav>.nav-btn {
    display: none;
}

.nav>.nav-links {
    display: inline;
    float: right;
    font-size: 18px;
}

.nav>.nav-links>a {
    display: inline-block;
    padding: 18px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
}

/**** class active current page ****/
.active, .nav-btn.hover {
    color: var(--txt-hover);
    background-color: rgba(0, 0, 0, 0.1);
}

.nav-btn:hover, .nav-btn:active, .nav-btn:hover:active,
.nav-links a:hover, .nav-link a:active, .nav-link a:hover:active {
    color: var(--bg-white) !important;
    background-color: rgba(0, 0, 0, 0.2) !important;
}

.nav>#nav-check {
    display: none;
}

.nav .nav-title span {
    font-size: clamp(20px, 5vw, 26px);
    color: #FCA311;
    letter-spacing: .8px;
}

@media (max-width: 837px) {
    .nav>.nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
        cursor: pointer;
    }

    .nav-btn, .nav-btn:hover {
        cursor: pointer;
    }

    .nav>.nav-btn>label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
    }

    .nav>.nav-btn>label:hover,
    .nav #nav-check:checked~.nav-btn>label {
        background-color: rgba(0, 0, 0, 0.3);
    }

    .nav>.nav-btn>label>span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #eee;
    }

    .nav>.nav-links {
        position: absolute;
        display: block;
        text-align: center;
        font-size: 22px;
        width: 100%;
        height: fit-content;
        background-color: #333;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 54px;
        left: 0px;
    }

    .nav>.nav-links>a {
        display: block;
        width: 100%;
    }

    .nav>#nav-check:not(:checked)~.nav-links {
        height: 0px;
    }

    .nav>#nav-check:checked~.nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
    }

    .nav .nav-title {
        margin-top: .2rem;
    }
}

@media screen and (max-width: 837px) {
    .nav-header {
        margin-left: 1rem;
    }

    .nav-btn {
        margin-top: .475rem;
        margin-right: 1.25rem;
    }
}

@media screen and (min-width: 768px) {
    .nav-header {
        margin-left: 3rem;
    }

    .nav-links {
        margin-right: 1rem;
    }
}

@media screen and (min-width: 1024px) {
    .nav-header {
        margin-left: 4rem;
    }

    .nav-links {
        margin-right: 3.5rem;
    }
}

@media screen and (min-width: 1440px) {
    .nav-header {
        margin-left: 8rem;
    }

    .nav-links {
        margin-right: 6.5rem;
    }
}

/** end nav **/

main#body main {
    top: 15% !important;
}

section {
    padding: 3rem 0;
    margin: 0 auto;
}

/**************** video player ****************/
section.video-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 1.5rem;
}

.video-area .title {
    font-size: 2.5rem !important;
    font-weight: 900 !important;
}

.video-area .subtitle {
    color: var(--txt-semiGray) !important;
    font-weight: 500 !important;
    letter-spacing: .4px !important;
    line-height: 1.2 !important;
}

video {
    min-width: 100%;
    height: auto;
}

.row:after {
    content: "";
    clear: both;
    display: table;
}

section#sectVideo[class*="col-"] {
    float: left;
    padding: 3rem 0;
    width: 100%;
}

section#sectVideo {
    margin-top: 100px !important;
}

@media only screen and (min-width: 600px) {
    .col-s-1 {
        width: 8.33%;
    }

    .col-s-2 {
        width: 16.66%;
    }

    .col-s-3 {
        width: 25%;
    }

    .col-s-4 {
        width: 33.33%;
    }

    .col-s-5 {
        width: 41.66%;
    }

    .col-s-6 {
        width: 50%;
    }

    .col-s-7 {
        width: 58.33%;
    }

    .col-s-8 {
        width: 66.66%;
    }

    .col-s-9 {
        width: 75%;
    }

    .col-s-10 {
        width: 83.33%;
    }

    .col-s-11 {
        width: 91.66%;
    }

    .col-s-12 {
        width: 100%;
    }
}

@media screen and (max-width: 650px) {
    .col-s-9 {
        width: 97.33%;
    }
}

@media only screen and (min-width: 768px) {
    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }
}

a.download {
    display: inline-block;
    width: auto;
    height: auto;
}

a.download .icon {
    height: auto;
    width: auto;
}

a.download:hover {
    transform: scale(1.2);
    transition: 150ms all !important;
}

/**custom**/
section#sectVideo video {
    border-radius: 6px;
    object-fit: cover;
    outline: 1px solid var(--bg-red);
    box-shadow: 0px 0px 33px 10px rgba(250, 210, 225, .75);
    -webkit-box-shadow: 0px 0px 33px 10px rgba(250, 210, 225, .75);
    -moz-box-shadow: 0px 0px 33px 10px rgba(250, 210, 225, .75);
}

/**************** end video player ****************/

.page-wrap {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -142px;
}

.page-wrap:after {
    content: "";
    display: block;
}

.img {
    position: relative;
    border: 1px transparent;
    border-radius: 50%;
    width: 70px !important;
    height: 70px !important;
    margin-bottom: 40px;
    margin-left: 35px !important;
    margin-top: 20px;
    image-rendering: optimizeSpeed;
}

/*title with js*/
.toptexts2 {
    max-width: fit-content;
    text-shadow: 0 0 70px var(--txt-hover);
    position: relative;
    padding: 10px;
    top: 14%;
    left: 50%;
    margin-top: -100px;
    /* Negative half of height. */
    margin-left: -72px;
    font-size: 40px;
    font-weight: bold;
    color: var(--txt-hover);
    display: block;
}

.toptexts2:hover {
    color: var(--bg-white);
    cursor: text;
}


@media screen and (max-width: 650px) {
    .toptexts2 {
        font-size: 32px !important;
    }
}

@media screen and (max-width: 580px) {
    .toptexts2 {
        padding-right: -2%;
        font-size: 20px;
    }

    li a.fancy-link, li a, a.fancy-link {
        font-size: 18px;
    }
}

@media screen and (max-width: 426px) {
    .toptexts2 {
        margin-left: -50px;
    }
}

@media screen and (max-width: 380px) {
    .toptexts2 {
        font-size: 28px;
    }
}

@media screen and (max-width: 330px) {
    .toptexts2 {
        font-size: 16px !important;
        margin-left: -26px;
    }
}

@media screen and (max-width: 650px) {
    body {
        font-size: 20px;
    }
}

/*GLOBAL STYLE*/
.header {
    text-align: center;
    padding: 32px;
}

.row {
    display: -ms-flexbox;
    /* IE 10 */
    display: flex;
    -ms-flex-wrap: wrap;
    /* IE 10 */
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column {
    flex: 50%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    content-visibility: auto;
    image-rendering: optimizeSpeed;
    image-resolution: auto;
}

/* Style the buttons */
.btn {
    padding: 10px 16px;
    background-color: var(--bg-white);
    color: var(--txt-normal);
    cursor: pointer;
    font-size: 18px;
    border: 1px;
    border-radius: 5px;
    padding-left: 1.333%;
    padding-right: 1.333%;
}

btn::selection {
    background-color: var(--txt-muted);
    color: var(--bg-white);
}

.btn:hover {
    opacity: 0.6;
    transition: 0.45s;
    background-color: var(--txt-muted);
    color: var(--bg-white);
}

.btn:before {
    opacity: 1;
}

.view {
    text-align: center;
    color: inherit;
    animation: infinite;
    -webkit-animation-name: pulse;
    animation-name: pulse;
    -webkit-animation-duration: 1.65s;
    animation-duration: 1.65s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    scroll-margin-bottom: smooth;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.08);
    }

    100% {
        transform: scale(1);
    }
}

.view:hover {
    transition: 115ms;
    animation: none;
    user-select: none;
}

/*js button*/
#myBtn {
    position: fixed;
    float: right;
    left: 94%;
    bottom: 15%;
    max-width: 42px;
    height: 42px;
    text-align: center;
    width: 100%;
    border-color: rgba(85, 85, 85, 0.2);
    background-color: var(--txt-title);
    border-radius: 26px;
    /* Here we declare our inline animation */
    animation: up-down 4.25s linear infinite;
    animation-name: up-down;
    animation-duration: 4.25s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    z-index: 99999;
    pointer-events: all;
    user-select: all;
}

@keyframes up-down {
    0% {
        transform: translateY(0px);
    }

    25% {
        transform: translateY(5px);
    }

    50% {
        transform: translateY(8px);
    }

    75% {
        transform: translateY(-4px);
    }

    100% {
        transform: translateY(0px);
    }
}

/*On Hover Color Change*/
#myBtn:hover {
    transition: all .35s ease-in-out;
    background-color: var(--txt-hover);
    cursor: pointer;
}

@media screen and (max-width: 1012px) {
    #myBtn {
        left: 94.5%
    }
}

@media screen and (max-width: 800px) {
    #myBtn {
        left: 90%
    }
}

@media screen and (max-width: 600px) {
    #myBtn {
        left: 90%
    }
}

@media screen and (max-width: 540px) {
    #myBtn {
        left: 85%
    }
}

/***end btn***/


/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        -ms-flex: 75%;
        flex: 75%;
        max-width: 75%;
    }
}

/*IPHONE*/
@media screen and (max-width: 400px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}

.social1 {
    font: icon;
    font-size: 20px;
    margin-top: 2%;
}

p fa-youtube:hover {
    transition: 0.63s;
    opacity: 0.65;
}

.container {
    margin: 0 auto;
    max-width: 80em;
    letter-spacing: 0.04em;
}

main .container {
    padding: .2em .25em 1em .25em;
    text-rendering: optimizeSpeed;
    z-index: 999;
}

.screen-reader-text {
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    width: 1px;
}

.container.photo {
    margin: 1.2rem auto;
}

#spacer {
    height: 25vh !important;
}

.fancy-link {
    text-decoration: none;
    color: var(--txt-hover);
    position: relative;
}

a.fancy-link:hover {
    color: var(--txt-hover) !important;
    opacity: .6;
}

.fancy-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: var(--txt-hover);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: right;
    transform-origin: right;
    transition: -webkit-transform 250ms ease-in;
    transition: transform 250ms ease-in;
    transition: transform 250ms ease-in, -webkit-transform 250ms ease-in;
}

.fancy-link:hover::after {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: left;
    transform-origin: left;

}

/*end underline animation*/

/* Social Media */
nav ul#social-media>li {
    /*display: inline-block;*/
    float: left;
    font-size: 2em;
    margin: 0.4em;
    color: var(--bg-white) !important;
}

nav ul#social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 1rem;
    margin-right: 1rem;
    color: var(--bg-white) !important;
}

#test1:hover {
    transition: .68s all ease;
    transform: rotate(360deg) !important;
    animation-duration: 1s;
}

#titolo-monfy {
    transition: .35s all ease-in-out;
    font-family: inherit;
    font-weight: bolder;
    font-size: 47px;
    text-align: center;
    padding: .75em;
}

@media screen and (max-width: 465px) {
    #titolo-monfy {
        font-size: 38px;
    }
}

@media screen and (max-width: 415px) {
    #titolo-monfy {
        font-size: 32px;
    }
}

@media screen and (max-width: 365px) {
    #titolo-monfy {
        font-size: 26.5px;
    }
}

#sottotitolo {
    color: var(--txt-normal);
    opacity: 5;
    font-size: 24px;
    margin-top: 1%;
    display: inline-block;
    text-align: center;
    border-bottom: 5px dotted var(--txt-hover);
}

div.nav-link {
    justify-content: center;
}

#sottotitolo:hover {
    color: var(--bg-dark);
    opacity: .9;
    font-style: italic;
    transition: 300ms all ease;
}

#maps-title {
    text-decoration: underline;
    text-decoration-color: var(--txt-hover);
    padding-top: 35px;
    font-size: 28px;
    text-align: center;
    font-weight: 900;
}

/*align center*/
#content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem auto;
}

/*maps*/
.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 450px;
    max-width: 450px;
}

.mapouter {
    position: relative;
    text-align: right;
    height: 450px;
    width: 450px;
}

iframe:not(.layer iframe) {
    width: 100%;
    height: 100%;
}

/** end maps **/

#titleh1 {
    text-decoration: underline;
    text-decoration-color: var(--txt-hover);
    margin: 3em 0 1em 0;
    font-size: 32px;
    font-weight: 900;
}

section {
    padding: 3em 0;
}

.articolo1 {
    height: 10vh;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 4em;
}

.articolo2 {
    position: relative;
    text-align: center;
    margin: 0 auto;
    word-wrap: break-word;
    font-family: inherit;
    font-size: 28px;
    max-height: 100vh;
}

.articolo2 h1 {
    text-decoration: underline;
    text-decoration-color: var(--txt-hover);
}

.articolo .section {
    margin: 1em;
    padding: 2em;
}

.subtitle {
    margin-top: 1.2em !important;
}

#section-image {
    margin: 0 auto;
    padding: .1em;
    max-height: 70vh;
    max-width: 100%;
    overflow: hidden;
}

h1.title {
    letter-spacing: 2px !important;
    font-weight: 800 !important;
    color: var(--bg-dark);
}

.jam {
    text-align: center;
    padding: 3em auto;
    font-size: 28px;
}

.container #jam {
    text-decoration: none;
    font-weight: 900;
    padding: 1.5em 0;
}

.box #jam {
    text-align: center;
    font-size: 28px !important;
    font-weight: 600;
    padding: .5em;
}

.box p {
    padding-top: .5em !important;
    font-weight: 400;
    font-size: 24px !important;
}

#puntodid {
    text-align: center;
    font-weight: 900;
    font-size: 32px;
    padding-left: 6px;
    padding-right: 1px;
    margin: 0 auto;
    color: #FCA311;
    text-shadow: 0 0 18px #FCA311;
}

.box h4 {
    text-align: center;
    color: var(--txt-semiGray);
    padding: .25em;
    letter-spacing: .8px;
}

.box #corpo {
    font-weight: 400;
    font-size: 23px !important;
    margin: 0 auto;
    padding: .5em 1.25em !important;
    padding-bottom: 2em !important;
    word-wrap: break-word;
}

.section {
    overflow: hidden;
    text-rendering: optimizeSpeed;
}

#sectVideo {
    background-color: var(--bg-red);
    background-image: linear-gradient(to right, #FAD2E1, #f9ebf1, #fff1f6);
}

#sectEvent {
    background-color: var(--bg-Event);
    background-image: linear-gradient(to right, #fbf8cc, #faf8e3, #fffdf1);
}

#sect1 {
    background-color: var(--bg-greenlight);
    background-image: linear-gradient(to right, #cde6ea, #f0f9fa, #ffffffed);
}

#sect2 {
    background-color: var(--bg-blue);
    background-image: linear-gradient(to right, #fdf0e6, #fff7f1, #ffffffed);
}

#sect3 {
    background-color: var(--bg-lightRed);
    background-image: linear-gradient(to right, #fde7e9, #fcedee, #ffffffed);
}

#sect4 {
    background-color: var(--bg-trasp);
    background-image: linear-gradient(to right, #fff3e9, #fdf8f5, #ffffffed);
    margin-top: auto;
}

p.line {
    line-height: 1.6 !important;
    letter-spacing: .4px !important;
    text-rendering: optimizeLegibility;
}

/*BOX eventi*/
.contenidor {
    display: flex;
    justify-content: center;
    align-items: center;
}

#sectEvent img {
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: image;
}

#BoxEventi {
    margin-top: 20px !important;
    max-width: 1024px !important;
    padding: auto 1em 2em 1em;
}

@media screen and (max-width: 525px) {
    #BoxEventi.box {
        padding: 0.2rem !important;
        margin-top: 2.5rem !important;
    }
}

#jam-p {
    font-size: 22px !important;
    text-align: center !important;
    padding: 2em 2.25em;
    padding-top: 1.2em !important;
}

#jam-p a:hover {
    text-decoration: underline;
}

/**meteo**/
.weatherwidget-io {
    position: relative;
}

.cleanslate {
    padding: 2em;
}

.center1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/****/

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 8rem;
}

#meteo a {
    word-spacing: 2px;
    letter-spacing: 2px;
}

.underline {
    font-weight: 900;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 32px;
    letter-spacing: 2px;
    word-spacing: 2px;
    /*-webkit-text-stroke: 1px #FCA311;*/
}

.dotted {
    font-size: 28px !important;
    font-weight: 900 !important;
    border-bottom: 6px dotted var(--bg-lightGray);
}

h1.dotted {
    font-weight: 700 !important;
}

h3.top-to {
    text-align: center !important;
    padding: .75em 2.5em;
    font-size: 24px !important;
    font-weight: 900 !important;
    padding-bottom: 1.5em;
}

.top-to a {
    text-decoration: none;
}

.top-to a:hover {
    text-decoration: underline;
}

/*****FOOOTERRR****/
#translate {
    height: auto;
    width: 40%;
}

.google {
    border: 2px var(--bg-white);
    border-radius: 26px !important;
    font-family: 'Source Sans Pro', sans-serif;
    color: var(--txt-muted);
    padding: 10px !important;
    text-align: center !important;
}

.google a.goog-logo-link img {
    text-align: center !important;
    margin: 0 auto !important;
}

ul {
    margin: 0px;
    padding: 0px;
}

.footer-section {
    text-align: center;
    background: var(--bg-dark);
    position: relative;
}

.footer-section>* {
    margin: 0 auto;
}

.footer-cta {
    border-bottom: 1px solid #373636;
}

.footer-content {
    position: relative;
    z-index: 22;
}

.footer-text p {
    margin-bottom: 14px;
    font-size: 14px;
    color: #7e7e7e;
    line-height: 45px;
}

.footer-social-icon span {
    color: #fff;
    display: block;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
}

.footer-social-icon a {
    color: #fff;
    font-size: 16px;
    margin-right: 15px;
}

.footer-social-icon i {
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
}

.container p:not(footer p),
#translate {
    color: var(--txt-normal);
}

div.row {
    align-items: center !important;
}

.footer-logo {
    padding: 2em 1em 0 1em;
    max-width: fit-content;
    margin: 0 auto !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-fluid {
    width: 210px !important;
    height: 245px !important;
    border: 1px #999;
    border-radius: 22px;
}

.copyright-area {
    text-align: center;
    background: #202020;
    padding: 25px 0;
}

#copyright {
    word-break: none;
    padding: 1.5em;
}

.copyright-text p a {
    text-align: center;
    color: var(--txt-hover);
    font-size: 24px;
}

.footer-widget-heading h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 40px;
    position: relative;
}

.footer-widget-heading h3::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -15px;
    height: 2px;
    width: 50px;
    background: #ff5e14;
}

.footer-social-icon {
    margin: 0 auto;
    padding: 1.5em;
}

.footer-social-icon span {
    color: #fff;
    display: block;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}

.footer-social-icon i:where(:hover, :focus) {
    opacity: .65;
    transition: all 250ms;
}

.instagram-bg {
    background: #b842ac;
}

.youtube-bg {
    background: #DD4B39;
}

.spotify-bg {
    background: rgb(20, 134, 20);
}

/******* RESET (if browser not loading)******/
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

html:focus-within {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

input, button, textarea, select {
    font: inherit;
}

/******* end reset *******/