@import url('https://fonts.googleapis.com/css2?family=Palanquin&display=swap');
@import url(https://use.fontawesome.com/releases/v5.0.6/css/all.css);   /*icons*/
 
/*colori per i testi, con variabili*/
/*palette con nero, bianco, grigio, blue e giallo. 5+1*/
:root {
    --txt-normal:#000000;
    --txt-muted:#E5E5E5;
    --txt-title: #14213D;
    --txt-hover: #FCA311;
    --bg-dark: #1d1f20;
    --bg-white: #FFFFFF;
    /*aggiunta*/
    --txt-semiGray: rgb(119, 118, 118);
}

*, *:before, *:after {
    box-sizing: border-box;
}

@supports (font-size-adjust: 1) {
    article {
        font-size-adjust: 0.5;
    }
}
 
html {
    height: 100%;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 100%;
    width: 100%;
}

h1, h2, h3, h4, h5, title {
    color: var(--txt-title);
    font-family:'Palanquin', sans-serif;
}
 
body {
    background-color: var(--bg-white); 
    color: var(--txt-title);
    font: 18px/1.5 'Palanquin', sans-serif;
}
 
h1 {
    font-family: 'Palanquin', sans-serif;
    text-align: center;
}

.page-wrap {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -142px; 
}
.page-wrap:after {
    content: "";
    display: block;
}


.img {
    border: 1px transparent;
    border-radius: 50%;
    margin-left: 35px !important;
    margin: 20px auto;
    width: 70px !important;
    height: 70px !important;
    margin-bottom: 35px;
}

/*title with js*/
.toptexts2 {
    text-shadow: 0 0 70px var(--txt-hover);
    position: relative;
    padding: 10px;
    top: 14%;
    left: 50%;
    margin-top: -100px;/* Negative half of height. */
    margin-left: -82px;
    font-size: 39px;
    font-weight: bold;
    color: var(--txt-hover);
    display: block;
    animation: fadeEffect 4s all ease-in-out; 
}

.toptexts2:hover {
    color: var(--bg-white);
    cursor:text;
}
 
@keyframes fadeEffect { 
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/*end title with js incorporated*/

@media screen and (max-width: 650px) {
    .toptexts2 {
        font-size: 32px !important;
    }
}

@media screen and (max-width: 580px) {
    .toptexts2 {
        padding-right: -2%;
    }
}

@media screen and (max-width: 426px) {
    .toptexts2 {
        margin-left: -50px;
    }
}

@media screen and (max-width: 380px) {
    .toptexts2 {
        margin-left: -46px;
        font-size: 28px !important;
    }
}

@media screen and (max-width: 650px) {
    body {
        font-size: 20px;
    }
}

/*GLOBAL STYLE*/
* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-size: 18px;
    font: 400;
  }
  
  .header {
    text-align: center;
    padding: 32px;
  }
  
  .row {
    display: -ms-flexbox; /* IE 10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE 10 */
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create two equal columns that sits next to each other */
  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create two equal columns that sits next to each other */
  .column {
    flex: 50%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    content-visibility: auto;
    image-rendering: optimizeSpeed;
    image-resolution: auto;
  }
  

  /* Style the buttons */
  .btn {
    padding: 10px 16px;
    background-color: var(--bg-white);
    color: var(--txt-normal);
    cursor: pointer;
    font-size: 18px;
    border: 1px;
    border-radius: 5px;
    padding-left: 1.333%;
    padding-right: 1.333%;
  }

  btn::selection {
    background-color: var(--txt-muted);
    color: var(--bg-white);
  }
  
  .btn:hover {
    opacity: 0.6;
    transition: 0.45s;
    background-color: var(--txt-muted);
    color: var(--bg-white);
  }

  .btn:before {
    opacity: 1;
  }
  
  .view {
    text-align: center;
    color: inherit;
    animation: infinite;
    -webkit-animation-name: pulse;
    animation-name: pulse;
    -webkit-animation-duration: 1.65s;
    animation-duration: 1.65s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    scroll-margin-bottom: smooth;
  }
  
  @keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.08); }
    100% { transform: scale(1); }
 }

 .view:hover {
    transition: 115ms;
    animation: none;
    user-select: none;
 }

 /*js button*/
    #myBtn {
        position: fixed;
        float: right;
        left: 94%;
        bottom: 15%;
        max-width: 41.5px;
        height: 42px;
        text-align: center;
        width: 100%;
        border-color: rgba(85, 85, 85, 0.2);
        background-color: var(--txt-title);
        border-radius: 24px;
        /* Here we declare our inline animation */
        animation: up-down 4s linear infinite;
        animation-name: up-down;
        animation-duration: 4s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }

    @keyframes up-down {
        0% {
            transform: translateY(0px);
        }
        25% {
            transform: translateY(5px);
        }
        50% {
            transform: translateY(8px);
        }
        75% {
            transform: translateY(-4px);
        }
        100% {
            transform: translateY(0px);
        }
    }

    /*On Hover Color Change*/
    #myBtn:hover {
        transition: all .35s ease-in-out;
        background-color: var(--txt-hover);
        cursor: pointer;
    }

    @media screen and (max-width: 1012px) {
        #myBtn {
            left: 94.5%
        }
    }

    @media screen and (max-width: 800px) {
        #myBtn {
            left: 90%
        }
    }
    @media screen and (max-width: 600px) {
        #myBtn {
            left: 90%
        }
    }
    @media screen and (max-width: 540px) {
        #myBtn {
            left: 85%
        }
    }
/***end btn***/


/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
.column {
    -ms-flex: 75%;
    flex: 75%;
    max-width: 75%;
    }
}

/*IPHONE*/
@media screen and (max-width: 400px) {
.column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
    }
}

.social1 {
    font: icon;
    font-size: 20px;
    margin-top: 2%;
}

p fa-youtube:hover {
    transition: 0.63s;
    opacity: 0.65;
}

.container {
    margin: 0 auto;
    max-width: 80em;
    letter-spacing: 0.04em;
}
 
main .container {
    padding: 2em;
    text-rendering: optimizeSpeed;
    z-index: 999;
}
 
.screen-reader-text {
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    width: 1px;
}

#spacer {
    height: 25vh !important;
}
 
nav { 
    background:var(--bg-dark); 
    color:  var(--bg-white);
    left: 0;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 9999;
}
 
/*** INPUT ***/
nav input {
    opacity: 0;
    position: absolute;
    z-index: -1;
}
 
/*** LABEL ***/
nav label {
    display: block;
    font: 2.1em/1 'Palanquin', sans-serif;
    padding: 0.4em;
    padding-left: 0;
}

@media screen and (max-width: 600px) {   /*******/
    nav label {
        -ms-flex: 96.3%;
        flex: 96.3%;
        max-width: 96.3%;
    }
}

@media screen and (max-width: 600px) {   /*******/
    .Logo   {
        -ms-flex: 96.3%;
        flex: 96.3%;
        max-width: 96.3%;
    }
}

 
/* Hamburger Icon */
#menu-icon,
#menu-icon:before,
#menu-icon:after {
    background: var(--bg-white);
    border-radius: 0.1em;
    height: 0.1933em;
    transition: all 125ms ease-in-out;
    width: 100%;
}

.IconaMenu {
    cursor: pointer;
    pointer-events: all;
}

#menu-icon {
    display: inline-block;
    margin: 50px auto;
    max-width: 1em;
    position:relative;
    cursor: pointer;
    align-self: middle;
    margin-top: -40px;
}
 
nav label #menu-icon {
    float: right;
}
 
#menu-icon:before,
#menu-icon:after {
    content: '';
    left: 0;
    position: absolute;
}
 
#menu-icon:before {
    top: -0.4em;
}
 
#menu-icon:after {
    bottom: -0.4em;
}
 
/* Close Icon */
nav input[type=checkbox]:checked + label #menu-icon {
    background: transparent;
}
 
nav input[type=checkbox]:checked + label #menu-icon:before {
    top: 0;
    transform: rotate(-45deg);
}
 
nav input[type=checkbox]:checked + label #menu-icon:after {
    bottom: 0;
    transform: rotate(45deg);
}
 
 
/*** MENU ***/
/* Overlay */
nav input:checked ~ #overlay {
    background: var(--bg-dark);
    bottom: 0;
    left: 0;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 2;
    width: 100vw;
    z-index: -1;
}
 
/* List */
nav ul {
    margin-top: 6%;
    font-size: 29px;
    color: var(--bg-white);
    list-style: none;
    margin: 0;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    padding: 1;
    text-align: center;
}
 
nav input:checked ~ ul {
    color: var(--bg-white);
    margin: 1.733em;
    max-height: inherit;
    opacity: 1;
}
 
nav ul > li {
    margin: 0.5em 0;
}
 
nav ul a {
    color: var(--bg-white) !important;
    text-decoration: none;
}
 
nav ul a:hover {
    font-style: italic;
    transition: 0.75s;
    opacity: 0.5;
    letter-spacing: 1.25px;
}
 
/* Social Media */
nav ul#social-media > li {
    display: inline-block;
    font-size: 1.75em;
    margin: 0.25em;
    color: var(--bg-white) !important;
}

nav ul#social-media {
    color: var(--bg-white) !important;
}

#test1:hover {
    transition: .68s all ease;
    transform: rotate(360deg) !important;
    animation-duration: 1s;
}

#titolo-monfy {
    transition: .35s all ease-in-out;
    font-family: inherit;
    font-weight: bold;
    font-size: 45px;
    text-align: center;
    padding: .75em;
}

@media screen and (max-width: 465px) {
    #titolo-monfy {
        font-size: 38px;
    }
}

@media screen and (max-width: 415px) {
    #titolo-monfy {
        font-size: 32px;
    }
}

@media screen and (max-width: 365px) {
    #titolo-monfy {
        font-size: 26.5px;
    }
}

h1#titolo-monfy:hover {
    color: var(--txt-hover);
    text-decoration: underline;
    transition: 300ms all ease-in-out;
}

#sottotitolo {
    color: var(--txt-normal);
    opacity: 5;
    font-size: 24px;
    margin-top: 1%;
    display:inline-block;
    text-align:center;
    border-bottom: 5px dotted var(--txt-hover);
}

div.nav-link {  
    justify-content: center;
}

#sottotitolo:hover {
    color: var(--bg-dark);
    opacity:.9;
    font-style: italic;
    transition: 300ms all ease;
}

#maps-title {
    text-decoration: underline;
    text-decoration-color: var(--txt-hover);
    padding-top: 35px;
    font-size: 28px;
    text-align: center;
    font-weight: bold;
}

/*align center*/
#vcontainer {
    padding: 1.5em;
    display: table;
    height: 100%;
    width: 100%;
}
#hcontainer {
    padding: 1.5em;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
#content {
    display: inline-block;
    border: var(--txt-muted) 1px solid;
    text-align: left;
}

.maps {
    margin: 0 auto;
    width: 855px !important;
    height: 615px !important;
}

@media screen and (max-width: 960px) {
    .maps {
        width: 775px !important;
        height: 565px !important;
    }
}

@media screen and (max-width: 850px) {
    .maps {
        width: 550px !important;
        height: 500px !important;
    }
}

@media screen and (max-width: 520px) {
    .maps {
        width: 505px !important;
        height: 470px !important;
    }
}

@media screen and (max-width: 675px) {
    .maps {
        width: 450px !important;
        height: 420px !important;
    }
}

@media screen and (max-width: 540px) {
    .maps {
        width: 410px !important;
        height: 395px !important;
    }
}

@media screen and (max-width: 487px) {
    .maps {
        width: 365px !important;
        height: 340px !important;
    }
}

@media screen and (max-width: 461px) {
    .maps {
        width: 325px !important;
        height: 320px !important;
    }
}

@media screen and (max-width: 410px) {
    .maps {
        width: 290px !important;
        height: 280px !important;
    }
}

@media screen and (max-width: 380px) {
    .maps {
        width: 255px !important;
        height: 260px !important;
    }
}

#titleh1 {
    text-decoration: underline;
    text-decoration-color: var(--txt-hover);
    margin: 8em 0 0 0;
    font-size: 32px;
}

.articolo1 {
    height: 10vh;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 4em;
}

.articolo2 {
    position: relative;
    text-align: center;
    margin: 0 auto;
    padding: 8em 1em;
    word-wrap: break-word;
    font-family: inherit;
    font-size: 28px;
    margin-bottom: 4em;
    max-height: 100vh;
}

.articolo2 h1 {
    text-decoration: underline;
    text-decoration-color: var(--txt-hover);
}

.articolo .section {
    margin: 1em;
    padding: 2em;
}

.subtitle {
    margin-top: 2em !important;
}

#section-image {
    margin: 0 auto;
    padding: .5em; 
    max-height: 65vh;
    max-width: 100%;
    overflow: hidden;
}

h1.title {
    padding: 1em auto;
    font-size: 38px !important;
    letter-spacing: 2px !important;
}

.jam {
    padding: 3em auto;
    font-size: 28px;
}

.container #jam {
    text-decoration: none;
    font-weight: 900;
    padding: 1.5em 0;
}

.box #jam {
    text-align: center;
    font-size: 28px !important;
    font-weight: 600;
    padding: .5em;
}

.box p {
    padding-top: .5em !important;
    font-weight: 400;
    font-size: 24px !important;
}

#puntodid {
    text-align: center;
    font-weight: 900;
    font-size: 32px;
    padding-left: 6px;
    padding-right: 1px;
    margin: 0 auto;
    color: #FCA311;
    text-shadow: 0 0 18px #FCA311;
}
  
.box h4 {
    text-align: center;
    color: var(--txt-semiGray);
    padding: .25em;
    letter-spacing: .8px;
}

.box #corpo {
    font-weight: 400;
    font-size: 23px !important;
    margin: 0 auto;
    padding: .5em 2.25em !important;
    padding-bottom: 2em !important; 
    word-wrap: break-word;
}



/*****FOOOTERRR****/
#translate {
    height: auto;
    width: 40%;
}

.google{
    color: var(--txt-muted);
    padding: 20px !important;
}

ul {
    margin: 0px;
    padding: 0px;
}

.footer-section {
    text-align: center;
    background: var(--bg-dark);
    position: relative;
}

.footer-cta {
    border-bottom: 1px solid #373636;
}

.footer-content {
    position: relative;
    z-index: 22;
}

.footer-text p {
    margin-bottom: 14px;
    font-size: 14px;
    color: #7e7e7e;
    line-height: 45px;
}

.footer-social-icon span {
    color: #fff;
    display: block;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
}

.footer-social-icon a {
    color: #fff;
    font-size: 16px;
    margin-right: 15px;
}

.footer-social-icon i {
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
}

.container p, #translate {
    color: var(--txt-muted);
}

div.row {
    align-items: center !important;
}

.copyright-area{
    text-align: center;
    background: #202020;
    padding: 25px 0;
}

.copyright-text p {
    text-align: center;
    font-size: 20px;
    color: #878787;
}

.copyright-text p a{
    text-align: center;
    color: var(--txt-hover);
    font-size: 24px;
}