@import url('https://fonts.googleapis.com/css2?family=Palanquin&display=swap');

:root {
    --normal: #333;
    --muted: #888;
}

* html {
    font-family: 'Palanquin', sans-serif;
    width: auto;
    height: 100%;
    margin: 0 auto;
    font: 300;
    text-align: center;
    padding: 1% 1% 1% 1%;
    background-color: #f5f1ed;
}

body {
    background-color: #f5f1ed;
    background-repeat: infinite;
    background-size: 100% 100%;  
    text-align: center;
    font-style: normal;
}

h1 {
    margin-top: 4%;
    font: 900;
    font-size: 28px;
}

p {
    margin-top: 3%;
    font: 300;
    font-size: 16px;
}

.corpoPr {
    margin: 10px 30px 15px 30px;
    margin-bottom: 10%;
}

#testImmagine{
    margin: auto;
    align-self: center;
    object-fit: cover;
    border-radius: 50%;
    height: 170px;
    width: 170px;
}

.footer {
    min-height: auto;
    min-height: 100%;
    background-color: transparent;
    position: absolute;
}

#textFooter {
    color: var(--muted);
    font: 400;
    font-size: 15px;
}