*, html {
    font-family: inherit;
    font: 600;
    margin: 0
}

html {
    scroll-behavior: smooth
}

body, html {
    background-color: #fff;
    color: #14213D !important
}

h1, h2, h3, h4, h5 {
    color: #14213D;
    font-family: inherit
}

img, svg {
    vertical-align: unset !important
}

body {
    background-color: #f5f1ed
}

a {
    color: #14213D
}

a, button {
    cursor: pointer
}

.box h1 {
    padding-top: 125px;
    font-size: 38px;
    text-decoration: underline;
    font-weight: 900
}

.button.is-rounded {
    margin: 0 auto !important
}

.Table1, .Table1 td, .Table1 th, .Table1 tr {
    border-collapse: collapse;
    border-radius: 5px;
    text-align: middle
}

.Table1 {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 477px;
    margin: 0 auto !important;
    border-spacing: 0;
    font: 500;
    font-family: inherit;
    background-color: #fff !important;
    outline: 2px solid #888;
    border-collapse: separate;
    height: auto;
    text-align: center;
    padding: 20px
}

@media screen and(min-width: 768px) {
    table.Table1 {
        max-width: 1024px
    }
}

@media (max-width: 500px) {
    .Table1 {
        max-width: 450px !important;
        margin: 0 1rem !important
    }
}

table {
    border-collapse: separate;
    border-spacing: 0;
    font: 500;
    font-family: inherit;
    font-size: 4px;
    color: black !important;
    border-collapse: collapse;
    text-align: center;
    padding: 20px
}

td {
    border-style: hidden;
    padding: 50px
}

tr>td {
    padding: 8px !important
}

tbody {
    max-width: auto !important
}

td, th {
    padding: 8px;
    text-align: left
}

tr {
    opacity: 1;
    font-family: inherit;
    font: 700;
    font-size: 25px;
    text-rendering: optimizeLegibility
}

.Table1 tr>td:hover {
    color: #fefefe;
    background-color: #949494
}

table.tabella {
    margin: 0 auto;
    text-align: center;
    width: 77.333%;
    font: 500;
    font-family: inherit;
    font-size: 22px;
    /* background-color: #0d1117 !important; */
    background-color: #e5e5e5 !important;
    color: #000 !important;
    text-align: left;
    padding-left: 3%;
    border-radius: 22px;
    border-collapse: collapse
}

.Table1 {
    margin-top: 2em
}

table.tabella > tbody {
    border: 1px solid #000 !important;
}

b {
    padding: 2%;
    font: 400;
    font-family: inherit;
    text-align: middle
}

.h4Table {
    text-align: center;
    margin-top: 4.5%;
    margin-bottom: 8%
}

@media screen and (max-width: 625px) {
    .h4Table {
        margin-bottom: 12.5%
    }
}

.tabella:hover {
    opacity: 0.975
}

.send {
    background-color: #999;
    border: 2px rgb(201, 194, 194);
    border-radius: 6px;
    width: 90px
}

.send:hover {
    background-color: rgba(218, 217, 217, 0.678);
    border-radius: 8px;
    opacity: 0.96;
    cursor: pointer
}

.container1 {
    text-align: center;
    border-radius: 5px;
    background-color: #f3f3f3;
    padding: 20px
}

.tabella form, td, th, tr {
    text-align: center;
    float: center;
    justify-content: center;
    align-items: center
}

input {
    margin: 0 auto
}

#loginbox {
    width: 400px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25%
}

.logindata {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    height: auto;
    max-height: 59px;
    width: 290px;
    transition: 0.25s ease;
    color: #000;
    font-weight: 400;
}

.form-control {
    color: #000;
    margin-left: auto;
    margin-right: auto;
    height: 55px;
    width: 288px;
    border-radius: 8px;
    border-style: none;
    background-color: transparent;
    text-align: center;
    border: solid 2px #202124;
    transition: 0.28s ease;
    font-size: 20px;
    font: 500
}

.form-control:hover {
    box-shadow: 2px 2px 34px rgba(0,0,0, .5)
}

::-webkit-input-placeholder {
    color: #202124
}

.invia {
    align-content: center;
    width: 55%;
    margin-top: 3%;
    margin-bottom: 2%;
    height: 60px;
    border: 2px inherit;
    border-radius: 15px;
    background-color: #ff636d;
    cursor: pointer
}

.invia:focus {
    transition: 0.6s;
    background-color: rgba(224, 222, 222, 0.875)
}

img, svg {
    vertical-align: auto !important
}

#sect .dotted {
    top: 15%;
    margin: 8em 0;
    padding: 2em
}

.sottotitolo1 {
    justify-content: center;
    margin-top: 1%;
    text-align: center;
    font-size: 18px;
    color: #444;
    font-family: inherit
}

@media screen and (max-width: 470px) {
    .tabella {
        width: 30%;
        -ms-flex: 30%;
        flex: 30%;
        font-size: 16px !important;
        padding: 0
    }

    .form-control {
        height: 45px;
        width: 258px;
        font-size: 17px !important
    }

    .logindata {
        margin-top: 14px;
        height: 45px;
        width: 260px
    }
}

@media screen and (max-width: 435px) {
    .tabella {
        width: 20%;
        -ms-flex: 20%;
        flex: 20%;
        font-size: 12px !important;
        padding: 0
    }

    .form-control {
        height: 35px;
        width: 228px;
        font-size: 14px !important
    }

    .logindata {
        margin-top: 12px;
        height: 35px;
        width: 225px
    }
}

@media screen and (max-width: 405.1px) {
    .tabella {
        width: 15%;
        -ms-flex: 15%;
        flex: 15%;
        font-size: 11px !important;
        padding: 0
    }

    .form-control {
        height: 30px;
        width: 210px;
        font-size: 12px !important
    }

    .logindata {
        margin-top: 11px;
        height: 30px;
        width: 210px
    }
}

@media screen and (max-width: 380px) {
    .tabella {
        width: 10%;
        -ms-flex: 10%;
        flex: 10%;
        font-size: 10px !important;
        padding: 0
    }

    .form-control {
        height: 29px;
        width: 206px;
        font-size: 11px !important
    }

    .logindata {
        margin-top: 11px;
        height: 29px;
        width: 206px
    }
}

@media screen and (max-width: 700px) {
    .flex-container {
        padding: 5em
    }

    .dotted {
        margin: 6em 0
    }

    h5#h5Form {
        font-size: 13px !important
    }

    section#spacer1 {
        padding: 1em 0 !important
    }
}

@media screen and (max-width: 385px) {
    h5#h5Form {
        font-size: 12px !important;
        margin-bottom: 0;
        margin-top: 0.5em
    }
}

h4 .title {
    padding-bottom: 2%;
    margin: 4em 0
}

#boxbefore {
    padding-bottom: 7em
}

#h5Form {
    text-align: center;
    justify-content: center;
    word-wrap: break-word;
    padding: 0.2em;
    color: #202124
}

#spanForm {
    padding: 1.2em 0 0.6em;
    color: #555;
    font-size: 26px;
    text-align: center;
    justify-content: center;
    transform: rotate(3.75deg)
}

.flex-container {
    padding: 1.5em;
    margin: 2em auto;
    text-align: center;
    display: flex;
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center
}

div.dotted {
    font-size: 15px;
    position: absolute;
    border-bottom: 3px dotted #FCA311;
    text-align: left
}

.dotted p {
    text-align: center;
    font-size: 1.125rem;
    margin-top: 0.7em
}

span#puntodid {
    font-weight: bolder;
    font-size: 32px;
    padding-left: 6px;
    color: #FCA311;
    text-shadow: 0 0 18px #FCA311
}

.Title-tab-1, .Title-tab-2 {
    margin-top: 80px;
    font-size: 34px;
    font-weight: bold;
    font-style: normal;
    padding: 0.4em;
    text-align: center;
    word-wrap: unset
}

footer {
    letter-spacing: 0.8px;
    font-size: 17px !important;
    background-color: #e5e5e5;
    text-align: center
}