@import url('https://fonts.googleapis.com/css2?family=Palanquin&display=swap');
@import url(https://use.fontawesome.com/releases/v5.0.6/css/all.css);   /*icons*/

* html {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

html, body {
  font-family: 'Palanquin', sans-serif;
}

body {
  background-color: #f5f1ed;
}

.thegrid {
  text-align: center;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 5px;
  padding: 15px;
  word-wrap: break-word;
}

.thegrid, .head {
  border: 2.5px dotted #999;
  border-radius: 22px;
}

.head {
  font-size: 22px;
  color: #14213D;
  text-shadow: 0 0 18px rgba(63,107,169, 0.6)
}

.head:hover {
  color: #FCA311;
  text-shadow: 0 0 25px #FCA311;
}
 
/* (B) ON SMOL SCREEN */
@media screen and (max-width:768px) {
  .thegrid { grid-template-columns: auto auto; }
}
@media screen and (max-width: 290px) {
  .thegrid {
    font-size: 14px !important;
    gap: 2px;
    padding: 18px;
  }
}

.gfg-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
}

#box {
  padding: 8px 35px;
  font-size: 30px;
  color: black;
  border: 2px solid #f3f3f3;
}

#box h1 {
  color: #FCA311;
  text-shadow: 0 0 18px #FCA311;
}

#box h1:hover {
  text-shadow: 0 0 29px #FCA311;
}

.primary{
  background-color: #f3f3f3;
  font-size: 22px;
  font: 900;
}

tfoot > tr  {
  overflow:hidden;
  background: black;
  color: white;
}

tbody > tr:hover {
  opacity: 0.95;
  cursor:text;
}

nav > ul > li {
  padding-left: -4%;
}

ul#social-media {
  padding-right: 8%;
}

#spacer {
  height: 10vh;
  padding: .8em;
}