@import url('https://fonts.googleapis.com/css2?family=Palanquin&display=swap');

:root {
    --normal: #333;
    --muted: #888;
}

@supports (font-size-adjust: 1) {
    article {
        font-size-adjust: 0.5;
    }
}

* html {
    font-family: 'Palanquin', sans-serif;
    width: auto;
    min-height: 100%;
    position: relative;
    margin: 0 auto;
    font: 300;
    text-align: center;
    background-color: #f5f1ed;
    text-rendering: optimizeLegibility;
}

body {
    background-color: #f5f1ed;
    font-style: normal;
    margin: 0 0 100px;
    /* bottom = footer height */
    padding: 25px;
}

h1 {
    margin-top: 4%;
    font: 900;
    font-size: 28px;
}

p {
    margin-top: 3%;
    font: 300;
    font-size: 16px;
}

.nav-title {
    font-weight: 400 !important;
}

.corpoPr {
    margin: 10px 30px 15px 30px;
    margin-bottom: 10%;
    max-width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    line-height: 1.7 !important;
}

.corpoPr p {
    font-weight: 400; 
    font-size: 20px; 
    color: #444;
}

#testImmagine{
    text-align: center;
    margin: auto;
    align-self: center;
    object-fit: cover;
    border-radius: 50%;
    height: 110px;
    width: 110px;
    margin-top: 2%;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 80px;
    width: 100%;
    overflow: hidden;
    background: #f6f6f6;
    text-align: center;
}

/*inside footer*/
.center {
    padding: 22px 0;
    margin: auto;
    /*border: 3px solid #f5f5f5;*/
    text-align: center;
    font-size: 20px;
}

svg {
    margin-right:2%;
}

#textFooter {
    color: var(--muted);
    font: 400;
    font-size: 15px;
    margin-top: 3%; 
    text-align: center; 
}
